.patner-text {
    text-align: center;
}
.partner-sign {
    text-align: center;
    font-size: 18px;
    color: #4a235e;
    font-weight: bold;
    margin-bottom: 5px;
}
.partner-box {
width: 70%;
margin: 10vh auto;
background-color: #f3f3f3;
box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.vl {
    border-left: 2px solid #4a235e;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 2%;
}
.profile-box {
    margin-top: 20px;
}
.profile_btns {
    margin-top: 10px;
}
.profile_btns li {
    display: inline-block;
    padding: 15px;
    background: #4a235e;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.profile_btns li a {
    color: #fff;
}
.breadcrumb {
    background-color: transparent;
}
.breadcrumb .fa.fa-angle-double-left {
    margin-right: 6px;
}
.top_btns {
    text-align: right;
}
.top_btns .btn.button-color.btn-block {
    width: 15%;
    display: inline-block;
    margin: 0px;
    font-size: 18px;
    margin-right: 10px;
}
.tagline {
    font-size: 20px;
    font-weight: bold;
}
.edit-form .form-control{
    display: inline-block;
    margin: 10px;
}
.edit-form#address-info .form-control {
    width: 22%;
    display: inline-block;
    margin: 10px;
}
form#basic-info ,form#treklead-info {
    margin-bottom: 25px;
}
form#treklead-info {
    background: #dfdfdd;
}
form#treklead-info p {
    padding: 10px;
    color: #666363;
}
button#activate, button#pending, button#resend-mail, button#reactive, button#deactive {
    width: 18%;
    font-size: 16px;
}
.add-trekleader-form .form-control {
    width: 26%;
    display: inline-block;
    margin: 10px;
}
form#basictrek-info {
    margin-bottom: 30px;
}